black = #333333
blackDark = #111111
gray = #F0F0F0
red = #FF6363
blue = #0000ff
orange = #FFAF63
gold = #C6A76B
purple = #7C1C71

mainType  = 'Futura', sans-serif

html
  font-family mainType
body
  color white
  font-size 62.5%
  letter-spacing 0.1rem

  a
    text-decoration none
    color: #ffff00
    :hover
      color: white
    :visited
      color: #ffff00
  h1
    font-size 3.5rem
    letter-spacing 0.15rem
  h2
    font-size 2.0rem
  p
    font-size 1.5rem
